*{
    margin: 0;
}

body{
    background-color: #EBDED1;
}

html, body{
    height: 100%;
}
header{
    width: 100%;
    background-color: #F2F5E7;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
}

.logotipo-topo{
    width: 170px;
}

.topo-conteudo{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    width: 100%;
    padding: 44px 0 46px 0;
    /* width: 30%; */
}

.menu{
    padding-inline-start: 0;
    width: 100%;
    max-width: 367px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu a{
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-decoration: none;
    /* display: flex; */
    padding-left:10px ;
    padding-right: 10px;
    /* justify-content: space-between; */
    color: #000;
}

.menu a:hover{
    border-bottom: 1px solid #762281;
    padding-bottom: 10px;
    border-top: 1px solid #762281;
    padding-top: 10px;
    color: #762281;
}

.banner{
    height:90% ; 
    max-height: 500px;
    width: 100%;
    max-width: 1380px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 130px;
}

.texto-banner{
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding-top: 15%;
    color: white;
}

.texto-banner h1{
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 70px;
text-transform: uppercase;
}

.texto-banner p{
font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 30px;
}

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.boxes{
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
    width: 100%;
}

.boxes div{
    width: 90%;
    max-width: 590px;
}

.boxes h2{
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    padding: 20px 0;
}

.boxes p{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 35px;
    width: 100%;
}

.boxes a{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    padding: 11px;
    text-decoration: none;
    color: #7E0B83;
}

.boxes a:hover{
    font-weight: 800;
    border: 1px solid #7E0B83;
    padding: 10px;
    background-color: #D0A8D1;
}

.banner-rodape{
    background-image: url(../img/banner-rodape.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

footer{
    background-color: #415d64;
    text-align: center;
}
.texto-rodape{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding: 23px 0;
    color: #E1868A;
    text-transform: uppercase;
}

@media screen and (max-width:1024px){
    .boxes{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .box-quem-somos{
        padding-left: 2.5%;
        padding-right: 1.25%;
    }
    .box-contato {
        padding-left: 1.25%;
        padding-right: 2.5%;
    }
    .box-quem-somos img, .box-contato img{
        width: 100%;
    }
}

@media screen and (max-width: 570px){ 
    header{
        width: 100%;
        height: 70px;
        background-color: #F2F5E7;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        position: fixed;
    }   

    .menu a{
        font-size: 20px;
    }

    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .box-quem-somos img, .box-contato img{
        width: 100%;
    }

    .box-quem-somos , .box-contato {
        padding-left: 5%;
    }

     .logotipo-topo{
        width: 110px;
    } 
}